<footer class="flex items-center justify-center w-full bg-gradient-to-t from-stone-950 to-[#181f2d] 
h-24 translate-y-[32.7rem] screen1000px:absolute screen1000px:top-0 screen1000px:translate-x-[-13rem] 
screen1000px:z-0 screen1000px:translate-y-[27rem] screen1000px:bg-gradient-to-t 
screen1000px:from-transparent screen1300px:translate-y-[35rem]">
    <ul class="flex gap-x-4">
        <li class="border-solid border-2 border-blue-500 p-2 rounded-full hover:bg-slate-800 screen1000px:hover:bg-black screen1000px:bg-slate-800" *ngFor="let network of listNetworks">
            <a [href]="network.link" target="_blank">
                <svg class="w-[1.2rem] fill-white screen1000px:w-[1.5rem] screen1000px:p-[3px] screen1300px:w-[1.7rem]" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>{{network.name}}</title>
                    <path [attr.d]="network.path"/>
                </svg>
            </a>
        </li>
    </ul>
</footer>
