.photo{
   &::before{
    position: absolute;
    content: '';
    top: 0rem;
    left: 0;
    width: 20rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: 4rem 2.1rem;
    background-image: url(../../../assets/img/Foto.png);
   }
}

@media(min-width:555px){
   .photo{
      &::before{
         margin-top: 1.2rem;
         background-size: cover;
      }
   }
}

@media(min-width:1000px){
   .photo{
      &::before{
         width: 28rem;
         height: 28rem;
      }
   }
}

@media(min-width:1300px){
   .photo{
      &::before{
         width: 39rem;
         height: 39rem;
      }
   }
}