<section class="relative">
    <div class=" fixed z-0 w-full pt-32 flex flex-col items-center justify-center">
        <div class="text-center">
            <div class="text-blue-50 text-4xl text ">Frontend Developer</div>
    
            <div
                class=" mt-4 py-2 px-2 mbefore:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-gradient-to-r from-blue-500 to-blue-700 relative inline-block">
                <p class="relative text-sky-50 text-[.8rem] font-bold tracking-wides rotate-[-2.7deg]">
                    Eduardo Hernandez Hernandez
                </p>
            </div>
        </div>
        <div class="relative mt-10 rounded-full w-[18rem] overflow-hidden">
            <img class="object-cover object-center" src="../../../assets/img/Foto.png" alt="Foto">
        </div>
       

          <!--   <footer class="w-full py-4 flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white h-6 w-6 animate-bounce">
                    <path d="M12 5v14"></path>
                    <path d="m19 12-7 7-7-7"></path>
                </svg>
            </footer> -->
    </div>
</section>









