<section class="">
    <div class="fixed  w-full pt-[3rem] flex flex-col justify-center screen1000px:flex-row
    screen1000px:items-center">
        <div class="text-center lg:flex-1 flex flex-col items-center">
            <p class="px-1 bg-clip-text text-transparent 
            bg-gradient-to-r from-blue-600 to-sky-700 
            text-5xl screen1000px:text-[70px] screen1300px:text-[90px] screen1300px:w-[50rem]">{{frontend}}</p>
    
            <div class=" w-50 mt-7 py-2 px-2 mbefore:block before:absolute before:-inset-1 
            before:-skew-y-3 before:bg-gradient-to-r from-cyan-500 to-blue-700 relative 
            inline-block screen1000px:w-72 screen1300px:w-96">
                <p class="relative text-sky-50 text-[.8rem] font-bold tracking-wides rotate-[-2.7deg]
                 screen1000px:text-[1rem] screen1300px:text-[1.3rem]">
                    Eduardo Hernandez Hernandez
                </p>
            </div>
        </div>
        
        <div class="w-full border-[.3rem] 
        border-slate-800 photo relative mt-10 
        rounded-bl-[.7rem] rounded-tl-[6.3rem] 
        rounded-tr-[.7rem] h-[24rem] overflow-hidden 
        bg-gradient-to-r from-cyan-500 to-blue-600
        screen1000px:h-[33rem] screen1000px:w-[50%] screen1300px:h-[41rem]">
        </div>

        <!--   <footer class="w-full py-4 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white h-6 w-6 animate-bounce">
                <path d="M12 5v14"></path>
                <path d="m19 12-7 7-7-7"></path>
            </svg>
        </footer> -->
    </div>
</section>













